# Awesome Hatch [![Awesome](https://awesome.re/badge-flat.svg)](https://github.com/sindresorhus/awesome)

> A curated list of awesome [Hatch](https://hatch.pypa.io/latest/) plugins and resources

{% for category, repos in data.items() %}
## {{ category }}
  {% for repo in repos %}
- [{{ repo.name }}]({{ repo.repo }}) 🌟({{ repo.stars }}) - {{ repo.description }}
  {% endfor %}
{% endfor %}

## Contributing

Feel free to add your own package here by creating a PR. You just need to add an entry to the end line of [awesome.yaml](./awesome.yaml) file.
For example:

```yaml
- repo: https://github.com/hynek/hatch-fancy-pypi-readme
  category: Plugins
  # optional
  name: hatch-fancy-pypi-readme
  description: Fancy PyPI READMEs with Hatch
```

Then it will automate reordered by repository stars and category.
